* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

body {
  width: 100%;
  height: 100vh;
  background-color: #4ABDAC;
  font-family: "Roboto", sans-serif; }

/*
  _landing.scss
  styles for landing screen

  by Aaron Romel
*/
.button, #make-button, #join-button, #connect-button, #back-button {
  display: block;
  width: 212px;
  height: 40px;
  margin: auto;
  background-color: #FC4A1A;
  color: white;
  box-shadow: 0px 3px 2px #E0E0E0;
  border: none;
  border-radius: 3px;
  font-size: 1.1em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: width 0.15s, height 0.15s, box-shadow 0.15s; }
  .button:hover, #make-button:hover, #join-button:hover, #connect-button:hover, #back-button:hover {
    cursor: pointer;
    box-shadow: 4px 7px 3px #E0E0E0, -4px -2px 3px #E0E0E0;
    width: 217px;
    height: 45px; }
  .button:active, #make-button:active, #join-button:active, #connect-button:active, #back-button:active {
    box-shadow: 0px 3px 2px #E0E0E0;
    width: 212px;
    height: 40px; }

#landing-screen {
  position: absolute;
  background-color: white;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.4); }

#landing-screen img {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0); }

#landing-controls {
  position: relative;
  top: 250px; }

#join-button {
  top: 55px; }

/* connect controls */
#connect-controls {
  opacity: 0;
  display: none;
  position: relative;
  top: 250px; }

input[type='text'] {
  display: block;
  margin: auto;
  width: 200px;
  padding: 4px;
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid #E0E0E0;
  position: relative;
  margin-bottom: 10px; }

#connect-button {
  top: 125px; }

#back-button {
  background-color: #4ABDAC;
  top: 180px; }

#sidebar {
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  left: -200px;
  top: -100vh;
  opacity: 0; }

#sidebar-break {
  width: 2px;
  height: 100vh;
  background-color: #FC4A1A;
  position: absolute;
  left: 200px;
  top: 0px; }

#menu-button {
  top: 20px;
  position: absolute;
  text-align: center;
  line-height: 30px;
  left: 200px;
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #4ABDAC; }

#menu-button:hover {
  background-color: white;
  cursor: pointer; }

#board {
  display: none;
  height: 100vh;
  width: 100%;
  overflow: auto; }

.note {
  width: 100px;
  height: auto;
  min-height: 100px;
  background-color: white;
  position: absolute;
  transition: left .1s, top .1s;
  border-radius: 4px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4); }

.note:hover {
  opacity: 0.6;
  cursor: pointer; }

.note:active {
  opacity: 1;
  cursor: grab; }

.note textarea {
  border: none;
  resize: none;
  position: relative;
  top: 5px;
  left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1em; }

.note p {
  pointer-events: none;
  position: relative;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  word-wrap: normal; }

/*# sourceMappingURL=app.css.map */
