// color scheme
$red: #F44336;
$blue: #3F51B5;

$primary-color: #4ABDAC;
$secondary-color: #FC4A1A;
$accent-color: #F7B733;

// background colors
$dark-gray: #E0E0E0;
$medium-gray: #F5F5F5;
$light-gray: #FAFAFA;

// fonts
$Roboto: 'Roboto', sans-serif;

// reset styles
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  font-family: $Roboto;
}
