.note {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  transition: left .1s, top .1s;
  border-radius: 4px;

  box-shadow: -4px -4px 2px rgba(0,0,0,0.4);
}

.note:hover {
  opacity: 0.6;
  cursor: pointer;
}

.note:active {
  opacity: 1;
  cursor: grab;
}

.note p {
  pointer-events: none;
}
