/*
  _landing.scss
  styles for landing screen

  by Aaron Romel
*/

// position an element absolutely on the page
@mixin absolute-position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

// create a button of any size, color, hover properties
.button {
  display: block;
  width: 212px;
  height: 40px;
  margin: auto;
  background-color: $secondary-color;
  color: white;
  box-shadow: 0px 3px 2px $dark-gray;
  border: none;
  border-radius: 3px;
  font-size: 1.1em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  // hover styles
  &:hover {
    cursor: pointer;
    box-shadow: 4px 7px 3px $dark-gray, -4px -2px 3px $dark-gray;
    width: 217px;
    height: 45px;
  }
  &:active {
    box-shadow: 0px 3px 2px $dark-gray;
    width: 212px;
    height: 40px;
  }

  transition: width 0.15s, height 0.15s, box-shadow 0.15s;
}

#landing-screen {
  position: absolute;
  background-color: white;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 7px 5px rgba(0,0,0,0.4);
}

#landing-screen img {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
}

#landing-controls {
  position: relative;
  top: 250px;
}

#make-button {
  @extend .button;
}

#join-button {
  @extend .button;
  top: 55px;
}

/* connect controls */
#connect-controls {
  opacity: 0;
  //text-align: center;
  display: none;
  position: relative;
  top: 250px;
}

input[type='text'] {
  display: block;
  margin: auto;
  width: 200px;
  padding: 4px;
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid $dark-gray;
  position: relative;
  margin-bottom: 10px;
}

#copy-room-code {
  position: relative;
  top: 75px;
  left: -50px;
  text-align: center;
}

#connect-button {
  @extend .button;
  top: 125px;
}

#back-button {
  @extend .button;
  background-color: $primary-color;
  top: 180px;
}

#sidebar {
  width: 350px;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  position: relative;
  left: -300px;
  top: -100vh;
  opacity: 0;
  color: white;
}
#sidebar p {
  position: relative;
  left: 50px;
}

#sidebar-break {
  width: 2px;
  height: 100vh;
  background-color: $secondary-color;
  position: absolute;
  left: 200px;
  top: 0px;
}

#menu-button {
  top: 20px;
  position: absolute;
  text-align: center;
  line-height: 30px;
  left: 300px;
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: $primary-color;
}
#menu-button:hover {
  background-color: white;
  cursor: pointer;
}

#user-list {
  list-style-type: none;
  position: absolute;
  top: 130px;
}
